.note-container {
	position: relative;
	width: 300px;
	height: 300px;
	overflow-wrap: break-word;
	padding: 50px 25px;
	margin-right: 20px;
	margin-bottom: 30px;
	background-color: var(--noteBackgroundColor);
	box-shadow: 0 0 10px 2px var(--noteShadowColor);
}
.note-date {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 10px;
	color: var(--noteDataColor);
}

.note-title {
	font-weight: 400;
	margin-bottom: 15px;
	text-transform: capitalize;
	color: var(--noteTitleColor);
}

.note-paragraph {
	font-size: 13px;
	font-weight: 200;
	line-height: 22px;
	text-align: left;
	color: var(--noteParagraphColor);
}

.note-tools {
	position: absolute;
	right: 8%;
	bottom: 8%;
}

.ic-delete-note,
.ic-edit-note {
	font-size: 30px;
	cursor: pointer;

}
.ic-edit-note {
	margin-right: 12px;
}
