.edit-note-popup-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(183, 209, 251, 0.875);
}
.edit-note-popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	background-color: rgb(43, 76, 133);
}
.header-popup-edit-note {
	color: white;
	font-weight: 400;
	margin-bottom: 25px;
}

.popup-input-note {
	padding: 10px;
	margin-bottom: 20px;
}
.popup-textarea-note {
	width: 100%;
	max-width: 100%;
	height: 80px;
	margin-bottom: 40px;
	padding: 10px;
}
.popup-btn-edit-note {
	padding: 10px;
}
