.notes {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 120px 50px;
	background-color: var(--notesBackgroundColor);
	z-index: 1;
}
.notes-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.notes-hr {
	border: 0.5px solid var(--hrColor);
	box-shadow: 0 0 4px 1px var(--hrColor);
}
.notes-header {
	font-size: 40px;
	font-weight: 300;
	color: var(--headerColor);
}
.notes-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 60px;
}
