.btn-add-note {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
}

.btn-add-note .header-add-note {
	color: var(--addNoteHeaderColor);
}
.btn-add-note .ic-plus {
	margin-right: 6px;
	font-size: 28px;
}
.header-add-note {
	font-size: 20px;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
}

.popup-btn {
	border: none;
	font-weight: 300;
	font-size: 14px;
	padding: 10px;
	background-color: var(--popupButtonColor);
	color: white;
	transition: background-color 0.3s;
	cursor: pointer;
	letter-spacing: 1px;
}
.popup-btn:hover {
	background-color: var(--iconHoverColor);
}
